/*Anim loader */ 
$dim-boule: 102px;
$dim-bille: calc($dim-boule/5);
$delay-bille: 100ms;
.anim-loader {
    transform-origin: 0% 0%;
    position: absolute; 
    top: 0px; 
    z-index: 20;
    padding-top: 204px;
    z-index: 10; 
    background-color: rgba(255, 255, 255);
    opacity: 1;
    width: 100%; 
    height: 100%;
    animation: intro 3000ms ease-out forwards;
}
.flex {
    display: flex;
}
.boule {
    width: $dim-boule;
    height: $dim-boule;
    padding: 4px;
    border-radius: $dim-boule + 1;
    border: 1px solid $secondary-color;
    scale: 150%;
    margin: auto;
    animation: anim-boule 1400ms forwards infinite linear;
    .bille {
        position: relative;
        width: $dim-bille;
        height: $dim-bille;
        border-radius: $dim-bille;
        background-color: $primary-color;
        animation: anim-bille 1000ms backwards infinite ease-in-out alternate;
    }
    .bille0 {
        top: 0px; 
        left: 41px;
    }
    .cont-bille2 {
        position: relative;
        top: -8px;
    }
    .bille1 {
        top: 0px; 
        left: 12px;
        animation-delay: $delay-bille * 7;
    }
    .bille2 {
        top: 0px; 
        left: 48px;
        animation-delay: $delay-bille;
    }
    .bille3 {
        top: 0px; 
        left: 0px;
        animation-delay: $delay-bille * 6;
    }
    .bille4 {
        top: 0px; 
        left: 60px;
        animation-delay: $delay-bille * 2;
    }   
    .cont-bille4 {
        position: relative;
        top: 08px;
    }
    .bille5 {
        top: 0px; 
        left: 12px;
        animation-delay: $delay-bille * 5;
    }
    .bille6 {
        top: 0px; 
        left: 48px;
        animation-delay: $delay-bille * 3;
    }
    .bille7 {
        top: 0px; 
        left: 41px;
        animation-delay: $delay-bille * 4;
    } 
}