.localize {
    height: 46px;
    background-color: #eaeaea; 
    form {
        width: 150px;
        margin: auto;
        padding-top: 16px;
        display: flex;
        .picto-position {
            width: 20px;
        }
        input {
            width: 130px;
            border: none;
            background-color: transparent;
            font-weight: 600;
        }
    }
}
.reservez {
    
    .reservez-titre {
        text-align: center;
        font-weight: bold;
        width: 240px;
        padding-top: 20px;
        margin: auto;
    }
    .reservez-argu {
        text-align: center; 
        font-size: 18px;
        margin-bottom: 25px;
    }
}
.fonctionnement {
    
}
.item-fonctionnement {
    background-color: $gris-fond2;
    margin-bottom: 25px;
    margin-left: 15px;
    padding: 10px 10px;
    display: flex;
    border-radius: 20px;
    @include ombre-boite;
    .chiffre {
        width: 22px;
        height: 22px;
        background-color: $primary-color;
        border-radius: 12px;
        position: relative;
        top: 13px;
        left: -20px;
        p {
            margin: 0px; 
            font-weight: bold;
            color: #fff;
            font-size: 12px;
            text-align: center;
            padding-top: 5px;
        }
    }
    .text-fonctionnmt {
        display: flex;
        
        a {
            color: #000;
            font-weight: bold;
        }
        i {
            color: #7e7e7e;
        }
        .picto-fonct {
            margin-right: 20px;
        }
    }
    &:hover {
        background-color: $secondary-color;
        p i {
            color: $primary-color;
        }
    }
}

.sections {
    background-color: #fff;
    padding: 30px 20px;
    &--gris {
        background-color: $gris-fond2;
    }
}
