/*Footer */ 
footer {
    background-color: #282828;
    padding: 20px;
    .logo-footer {
        width: 100px;
        overflow: hidden;
        img {
            filter: invert(10);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }     
    }
    ul {
        list-style-position: inside;
        padding-left: 0px;
        li {
            list-style-type: none;
            display: flex;
            .picto-menu-footer {
                color: #fff;
                margin-right: 10px;
            }
            p {
                margin-bottom: 0px;
            }
            a {
                color: #fff;
            }
        }
    }
}