.head-page {
    position: relative;
    z-index: 10;
    height: 40px;
    justify-content: space-between;
    box-shadow: 0px 5px 5px #bbbaba;
    padding-top: 20px;
    &--ss-ombre {
        box-shadow: none;
    }
    
}