/*$anim-dur / $num-bars; deprecated */
@keyframes anim {
  0% {
    scaleY: 100%;
  }
  50% {
    opacity: 90%;
  }
  99% {
    opacity: 90%;
    scaleY: 100%;
  }
  100% {
    opacity: 0%;
    scaleY: 0%;
    z-index: -10;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.anim-intro {
  transform-origin: 0% 0%;
  position: absolute;
  top: 0px;
  padding-top: 204px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  width: 100%;
  height: 100%;
  scaleY: 100%;
  animation: anim 10000ms ease-out forwards;
}
.anim-intro .load {
  margin: auto;
  width: 120px;
}

.load {
  width: 160px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.load__bar {
  background-color: #15DEA5;
  height: 100%;
  width: 16px;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
  /*timing-function: ease-in-out;*/
  /*animation-direction: alternate; (>>> normal reverse alternate) */
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--1-inv {
  animation-delay: 200ms;
  animation-direction: alternate-reverse;
  background-color: #0E397F;
}
.load__bar--1-vart {
  animation-delay: 1250ms;
  animation-direction: alternate-reverse;
  /*animation-fill-mode: forwards;*/
  background-color: #0E397F;
}
.load__bar--1-vart:hover {
  animation-play-state: paused;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--2-inv {
  animation-delay: 400ms;
  animation-direction: alternate-reverse;
  background-color: #0E397F;
}
.load__bar--2-vart {
  animation-delay: 1315ms;
  animation-direction: alternate-reverse;
  /*animation-fill-mode: forwards;*/
  background-color: #0E397F;
}
.load__bar--2-vart:hover {
  animation-play-state: paused;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--3-inv {
  animation-delay: 600ms;
  animation-direction: alternate-reverse;
  background-color: #0E397F;
}
.load__bar--3-vart {
  animation-delay: 960ms;
  animation-direction: alternate-reverse;
  /*animation-fill-mode: forwards;*/
  background-color: #0E397F;
}
.load__bar--3-vart:hover {
  animation-play-state: paused;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--4-inv {
  animation-delay: 800ms;
  animation-direction: alternate-reverse;
  background-color: #0E397F;
}
.load__bar--4-vart {
  animation-delay: 1370ms;
  animation-direction: alternate-reverse;
  /*animation-fill-mode: forwards;*/
  background-color: #0E397F;
}
.load__bar--4-vart:hover {
  animation-play-state: paused;
}
.load__bar--5 {
  animation-delay: 1000ms;
}
.load__bar--5-inv {
  animation-delay: 1000ms;
  animation-direction: alternate-reverse;
  background-color: #0E397F;
}
.load__bar--5-vart {
  animation-delay: 1465ms;
  animation-direction: alternate-reverse;
  /*animation-fill-mode: forwards;*/
  background-color: #0E397F;
}
.load__bar--5-vart:hover {
  animation-play-state: paused;
}

@keyframes intro-plat {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 28px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
}

h2 {
  font-weight: 800;
}

.menu-etabl h3 {
  text-transform: uppercase;
  margin: 35px 0px 5px 0px;
  /*border-bottom: 1px solid $tertiary-color;*/
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
}

.logo {
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo--header {
  width: 164px;
  height: 28px;
}
.logo--footer {
  width: 100px;
  height: 17px;
}
.logo--footer img {
  filter: invert(10);
  object-fit: cover;
}

.card {
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  margin: 15px 0px;
  box-shadow: 0px 5px 5px #8f8f8f;
}
.card .image_resto {
  height: 148px;
  overflow: hidden;
}
.card .image_resto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .image_resto .ribbon-resto {
  float: right;
  position: relative;
  width: 80px;
  padding-top: 3px;
  text-align: center;
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
  top: -140px;
  right: 10px;
  margin-bottom: -20px;
}
.card__argu {
  height: 70px;
  width: 100%;
  transition-duration: 500ms;
  display: flex;
  justify-content: space-between;
}
.card__argu h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__argu p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__argu .texte-argu {
  width: 100%;
  padding: 12px;
}
.card__argu .texte-argu--carte {
  max-width: 80%;
}
.card__argu .card-prix {
  width: 20%;
  padding-top: 38px;
  margin-right: 10px;
}
.card__argu .card-prix p {
  font-weight: bold;
  text-align: right;
}
.card__argu:hover {
  width: 80%;
}
.card__argu:hover + .card-check {
  width: 20%;
}
.card__argu:hover + .card-check p {
  font-size: 20px;
  color: #fff;
  transform: rotate(360deg);
  transition-duration: 500ms;
}
.card__argu-resto {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*.bloc-like {

      width: 60px;
      display: flex;
      padding: 20px 0px 0px 20px;
      &:hover {
          .btn-like1 {
              opacity: 1;
          }
          .btn-like2 {
              opacity: 0;
          }
      }


  }*/
}
.card__argu-resto .texte-resto {
  padding: 12px;
}
.card__argu-resto .texte-resto h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__argu-resto .texte-resto p {
  margin: 0px;
}
.card .card-check {
  background-color: aquamarine;
  position: absolute;
  right: 0%;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transform-origin: right 50%;
  transition-duration: 500ms;
  text-align: center;
}
.card .card-check p {
  color: #fff;
  font-size: 20px;
}
.card--anim {
  transform: translateY(50px);
  opacity: 0;
  animation-name: intro-plat;
  animation-fill-mode: forwards;
}

.bloc-like {
  width: 60px;
  display: flex;
  padding: 20px 0px 0px 20px;
}
.bloc-like:hover .btn-like1 {
  opacity: 1;
}
.bloc-like:hover .btn-like2 {
  opacity: 0;
}

.groupe-plats div:first-of-type {
  /*background-color: red;*/
  animation-duration: 2000ms;
  animation-delay: 500ms;
}

.groupe-plats div:nth-of-type(2) {
  /*background-color: blue;*/
  animation-duration: 2000ms;
  animation-delay: 1000ms;
}

.groupe-plats div:nth-of-type(3) {
  /*background-color: green;*/
  animation-duration: 2000ms;
  animation-delay: 1500ms;
}

.groupe-plats div:nth-of-type(4) {
  /*background-color: green;*/
  animation-duration: 2000ms;
  animation-delay: 2000ms;
}

.btn-supo {
  padding: 17px 0px 17px 0px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 224px;
  margin: auto;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  /*box-shadow: 0px 3px 5px $gris-ombre;*/
  box-shadow: 0px 5px 5px #8f8f8f;
}
.btn-supo--bottom {
  margin: 50px auto;
}
.btn-supo:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 0px 5px 5px #5c5c5c;
}

.btn-like a {
  color: transparent;
}
.btn-like p {
  font-size: 24px;
  text-shadow: 0px 1px 0px #000, 1px 0px 0px #000, -1px 0px 0px #000, 0px -1px 0px #000;
  color: white;
}
.btn-like p:hover {
  text-shadow: 0px 1px 0px transparent, 1px 0px 0px transparent, -1px 0px 0px transparent, 0px -1px 0px transparent;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn-like1 {
  font-size: 24px;
  margin: 0px;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2000ms;
}

.btn-like2 {
  font-size: 24px;
  margin: 0px;
  position: relative;
  top: 0px;
  left: -23px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-delay: 500ms;
}

.head-page {
  position: relative;
  z-index: 20;
  height: 40px;
  /*justify-content: space-between;*/
  box-shadow: 0px 5px 5px #bbbaba;
  padding-top: 20px;
  overflow: hidden;
}
.head-page .logo {
  margin: auto;
}
.head-page--ss-ombre {
  box-shadow: none;
}

/*.nav-head-left {
    margin-left: 20px;
}
.nav-head-right {
    margin-right: 20px;
}
*/
.nav {
  position: relative;
  top: -40px;
  left: 10px;
  z-index: 10;
}
.nav--invisible {
  display: none;
}

.localize {
  height: 46px;
  background-color: #eaeaea;
}
.localize form {
  width: 150px;
  margin: auto;
  padding-top: 16px;
  display: flex;
}
.localize form .picto-position {
  width: 20px;
}
.localize form input {
  width: 130px;
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.reservez .reservez-titre {
  text-align: center;
  font-weight: bold;
  width: 240px;
  padding-top: 20px;
  margin: auto;
}
.reservez .reservez-argu {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

.item-fonctionnement {
  background-color: #f6f6f6;
  margin-bottom: 25px;
  margin-left: 15px;
  padding: 10px 10px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #8f8f8f;
}
.item-fonctionnement .chiffre {
  width: 22px;
  height: 22px;
  background-color: #9356DC;
  border-radius: 12px;
  position: relative;
  top: 13px;
  left: -20px;
}
.item-fonctionnement .chiffre p {
  margin: 0px;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}
.item-fonctionnement .text-fonctionnmt {
  display: flex;
}
.item-fonctionnement .text-fonctionnmt a {
  color: #000;
  font-weight: bold;
}
.item-fonctionnement .text-fonctionnmt i {
  color: #7e7e7e;
}
.item-fonctionnement .text-fonctionnmt .picto-fonct {
  margin-right: 20px;
}
.item-fonctionnement:hover {
  background-color: #f2eafb;
}
.item-fonctionnement:hover p i {
  color: #9356DC;
}

.sections {
  background-color: #fff;
  padding: 30px 20px;
}
.sections--gris {
  background-color: #f6f6f6;
}

.visuel-tete {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 210px;
  margin-bottom: -25px;
}
.visuel-tete img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carte-resto {
  position: relative;
  z-index: 10;
  border-radius: 30px;
  padding: 20px;
  background-color: #f6f6f6;
}
.carte-resto .filet {
  width: 50px;
  margin: 0px;
  border-bottom: solid 3px #99E2D0;
}

.enseigne-resto {
  display: flex;
  justify-content: space-between;
}
.enseigne-resto p {
  padding: 0px;
}

footer {
  background-color: #282828;
  padding: 20px;
}
footer .logo-footer {
  width: 100px;
  overflow: hidden;
}
footer .logo-footer img {
  filter: invert(10);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer ul {
  list-style-position: inside;
  padding-left: 0px;
}
footer ul li {
  list-style-type: none;
  display: flex;
}
footer ul li .picto-menu-footer {
  color: #fff;
  margin-right: 10px;
}
footer ul li p {
  margin-bottom: 0px;
}
footer ul li a {
  color: #fff;
}

.selecteur {
  background-color: red;
}
.selecteur--modifie1 h4 {
  color: green;
}
.selecteur--modifie2 h4 {
  color: blue;
}

.card-argu2 {
  background-color: red;
  padding: 12px;
  height: 100px;
  overflow: hidden;
  display: flex;
}
.card-argu2__texte-argu2 {
  background-color: green;
  width: 100%;
  margin-right: 0px;
}
.card-argu2__texte-argu2 h4, .card-argu2__texte-argu2 p {
  text-overflow: string;
}
.card-argu2__check-argu2 {
  position: relative;
  right: 0px;
  float: right;
  width: 80px;
  background-color: blueviolet;
}

.card-argu3 {
  background-color: red;
  padding: 12px;
  height: 100px;
  overflow: hidden;
  display: flex;
}
.card-argu3__texte-argu3 {
  background-color: green;
  margin-right: 0px;
}
.card-argu3__texte-argu3 h4, .card-argu3__texte-argu3 p {
  text-overflow: string;
}
.card-argu3__check-argu3 {
  position: relative;
  right: -80px;
  float: right;
  width: 80px;
  background-color: blueviolet;
}

.card-argu4 {
  background-color: red;
  padding: 12px;
  height: 100px;
  overflow: hidden;
  display: flex;
}
.card-argu4__texte-argu4 {
  background-color: green;
  width: 70%;
  margin-right: 0px;
}
.card-argu4__texte-argu4 h4, .card-argu4__texte-argu4 p {
  text-overflow: string;
}
.card-argu4__check-argu4 {
  float: right;
  width: 80px;
  background-color: blueviolet;
}

.card-argu6 {
  background-color: red;
  padding: 12px;
  height: 100px;
  display: flex;
}
.card-argu6__texte-argu6 {
  background-color: green;
  width: 300px;
  margin-right: 0px;
}
.card-argu6__texte-argu6 h4, .card-argu6__texte-argu6 p {
  text-overflow: string;
}
.card-argu6__check-argu6 {
  float: right;
  width: 80px;
  background-color: blueviolet;
}

.card-argu7 {
  background-color: red;
  width: 600px;
  padding: 12px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.card-argu7__texte-argu7 {
  background-color: green;
  width: 500px;
  margin-right: 0px;
}
.card-argu7__texte-argu7 h4, .card-argu7__texte-argu7 p {
  text-overflow: string;
}
.card-argu7__check-argu7 {
  right: 0px;
  width: 100px;
  background-color: blueviolet;
}

.cache8 {
  width: 500px;
  background-color: blue;
  overflow: hidden;
  display: flex;
}

.card-argu8 {
  background-color: red;
  padding: 12px;
  height: 100px;
  overflow: hidden;
  display: flex;
}
.card-argu8__texte-argu8 {
  background-color: green;
  width: 500px;
  margin-right: 0px;
}
.card-argu8__texte-argu8 h4, .card-argu8__texte-argu8 p {
  text-overflow: string;
}
.card-argu8__check-argu8 {
  position: relative;
  padding: 20px;
  text-overflow: clip;
  width: 80px;
  background-color: blueviolet;
  display: none;
}

.cache9 {
  width: 580px;
  background-color: blue;
  overflow: hidden;
  display: flex;
}

.card-argu9 {
  background-color: red;
  padding: 12px;
  height: 100px;
  display: flex;
}
.card-argu9__texte-argu9 {
  background-color: green;
  width: 100%;
  margin-right: 0px;
}
.card-argu9__texte-argu9 h4, .card-argu9__texte-argu9 p {
  text-overflow: string;
}
.card-argu9__check-argu9 {
  /*position: relative;*/
  padding: 20px;
  text-overflow: clip;
  width: 80px;
  background-color: blueviolet;
  display: none;
}

/*# sourceMappingURL=styles.css.map */
