@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes intro {
  0% {
    transform: scaleY(100%);
  }
  97% {
    opacity: 97%;
    transform: scaleY(100%);
  }
  99% {
    z-index: 20;
  }
  100% {
    opacity: 0%;
    transform: scaleY(0%);
    z-index: -10;
  }
}
@keyframes anim-bille {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes anim-boule {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes intro-plat {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*Typography */
body {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 28px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  font-weight: normal;
}

h2 {
  font-weight: 800;
}

.menu-etabl h3 {
  text-transform: uppercase;
  margin: 35px 0px 5px 0px;
}

/*Anim loader */
.anim-loader {
  transform-origin: 0% 0%;
  position: absolute;
  top: 0px;
  z-index: 20;
  padding-top: 204px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: intro 3000ms ease-out forwards;
}

.flex {
  display: flex;
}

.boule {
  width: 102px;
  height: 102px;
  padding: 4px;
  border-radius: 103px;
  border: 1px solid #FF79DA;
  scale: 150%;
  margin: auto;
  animation: anim-boule 1400ms forwards infinite linear;
}
.boule .bille {
  position: relative;
  width: 20.4px;
  height: 20.4px;
  border-radius: 20.4px;
  background-color: #9356DC;
  animation: anim-bille 1000ms backwards infinite ease-in-out alternate;
}
.boule .bille0 {
  top: 0px;
  left: 41px;
}
.boule .cont-bille2 {
  position: relative;
  top: -8px;
}
.boule .bille1 {
  top: 0px;
  left: 12px;
  animation-delay: 700ms;
}
.boule .bille2 {
  top: 0px;
  left: 48px;
  animation-delay: 100ms;
}
.boule .bille3 {
  top: 0px;
  left: 0px;
  animation-delay: 600ms;
}
.boule .bille4 {
  top: 0px;
  left: 60px;
  animation-delay: 200ms;
}
.boule .cont-bille4 {
  position: relative;
  top: 8px;
}
.boule .bille5 {
  top: 0px;
  left: 12px;
  animation-delay: 500ms;
}
.boule .bille6 {
  top: 0px;
  left: 48px;
  animation-delay: 300ms;
}
.boule .bille7 {
  top: 0px;
  left: 41px;
  animation-delay: 400ms;
}

/*Header */
.head-page {
  position: relative;
  z-index: 20;
  height: 40px;
  box-shadow: 0px 5px 5px #bbbaba;
  padding-top: 20px;
  overflow: hidden;
}
.head-page .logo {
  margin: auto;
}
.head-page--ss-ombre {
  box-shadow: none;
}

/* Base */
.conteneur {
  max-width: 992px;
  margin: auto;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
}

.logo {
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo--header {
  width: 164px;
  height: 28px;
}
.logo--footer {
  width: 100px;
  height: 17px;
}
.logo--footer img {
  filter: invert(10);
  object-fit: cover;
}

.card {
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  margin: 15px 0px;
  box-shadow: 0px 5px 5px #8f8f8f;
}
.card .image_resto {
  height: 148px;
  overflow: hidden;
}
.card .image_resto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .image_resto .ribbon-resto {
  float: right;
  position: relative;
  width: 80px;
  padding-top: 3px;
  text-align: center;
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
  top: -140px;
  right: 10px;
  margin-bottom: -20px;
}
.card__argu {
  height: 70px;
  width: 100%;
  transition-duration: 500ms;
  display: flex;
  justify-content: space-between;
}
.card__argu h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__argu p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__argu .texte-argu {
  width: 100%;
  padding: 12px;
}
.card__argu .texte-argu--carte {
  max-width: 80%;
}
.card__argu .card-prix {
  width: 20%;
  padding-top: 38px;
  margin-right: 10px;
}
.card__argu .card-prix p {
  font-weight: bold;
  text-align: right;
}
.card__argu-resto {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card__argu-resto .texte-resto {
  padding: 12px;
}
.card__argu-resto .texte-resto h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__argu-resto .texte-resto p {
  margin: 0px;
}
.card .card-check {
  background-color: aquamarine;
  position: absolute;
  right: 0%;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transform-origin: right 50%;
  transition-duration: 500ms;
  text-align: center;
}
.card .card-check p {
  color: #fff;
  font-size: 20px;
}
.card--anim {
  transform: translateY(50px);
  opacity: 0;
  animation-name: intro-plat;
  animation-fill-mode: forwards;
}
.card:hover .card__argu--hover {
  width: 80%;
}
.card:hover .card-check {
  width: 20%;
}
.card:hover .card-check p {
  font-size: 20px;
  color: #fff;
  transform: rotate(360deg);
  transition-duration: 500ms;
}

.bloc-like {
  width: 60px;
  display: flex;
  padding: 20px 0px 0px 20px;
}
.bloc-like:hover .btn-like1 {
  opacity: 1;
}
.bloc-like:hover .btn-like2 {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .groupe-plats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .groupe-plats .card {
    width: 49%;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .groupe-plats {
    display: flex;
    justify-content: space-between;
  }
  .groupe-plats .card {
    width: 32%;
    margin-bottom: 0px;
  }
}

.groupe-plats div:first-of-type {
  animation-duration: 2000ms;
  animation-delay: 500ms;
}

.groupe-plats div:nth-of-type(2) {
  animation-duration: 2000ms;
  animation-delay: 1000ms;
}

.groupe-plats div:nth-of-type(3) {
  animation-duration: 2000ms;
  animation-delay: 1500ms;
}

.groupe-plats div:nth-of-type(4) {
  animation-duration: 2000ms;
  animation-delay: 2000ms;
}

/*Nav */
.nav {
  position: relative;
  top: -40px;
  left: 10px;
  z-index: 10;
}
.nav--invisible {
  display: none;
}

/*Buttons */
.btn-supo {
  padding: 17px 0px 17px 0px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 224px;
  margin: auto;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  box-shadow: 0px 5px 5px #8f8f8f;
}
.btn-supo--bottom {
  margin: 50px auto;
}
.btn-supo:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 0px 5px 5px #5c5c5c;
}

.btn-like a {
  color: transparent;
}
.btn-like p {
  font-size: 24px;
  text-shadow: 0px 1px 0px #000, 1px 0px 0px #000, -1px 0px 0px #000, 0px -1px 0px #000;
  color: white;
}
.btn-like p:hover {
  text-shadow: 0px 1px 0px transparent, 1px 0px 0px transparent, -1px 0px 0px transparent, 0px -1px 0px transparent;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn-like1 {
  font-size: 24px;
  margin: 0px;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2000ms;
}

.btn-like2 {
  font-size: 24px;
  margin: 0px;
  position: relative;
  top: 0px;
  left: -23px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-delay: 500ms;
}

/*Container */
.localize {
  height: 46px;
  background-color: #eaeaea;
}
.localize form {
  width: 150px;
  margin: auto;
  padding-top: 16px;
  display: flex;
}
.localize form .picto-position {
  width: 20px;
}
.localize form input {
  width: 130px;
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.reservez .reservez-titre {
  text-align: center;
  font-weight: bold;
  width: 240px;
  padding-top: 20px;
  margin: auto;
}
.reservez .reservez-argu {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

.item-fonctionnement {
  background-color: #f6f6f6;
  margin-bottom: 25px;
  margin-left: 15px;
  padding: 10px 10px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #8f8f8f;
}
.item-fonctionnement .chiffre {
  width: 22px;
  height: 22px;
  background-color: #9356DC;
  border-radius: 12px;
  position: relative;
  top: 13px;
  left: -20px;
}
.item-fonctionnement .chiffre p {
  margin: 0px;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}
.item-fonctionnement .text-fonctionnmt {
  display: flex;
}
.item-fonctionnement .text-fonctionnmt a {
  color: #000;
  font-weight: bold;
}
.item-fonctionnement .text-fonctionnmt i {
  color: #7e7e7e;
}
.item-fonctionnement .text-fonctionnmt .picto-fonct {
  margin-right: 20px;
}
.item-fonctionnement:hover {
  background-color: #f2eafb;
}
.item-fonctionnement:hover p i {
  color: #9356DC;
}

.sections {
  background-color: #fff;
  padding: 30px 20px;
}
.sections--gris {
  background-color: #f6f6f6;
}

@media only screen and (min-width: 768px) {
  .liste-fonction {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .liste-fonction .item-fonctionnement {
    width: 45%;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .liste-fonction {
    display: flex;
    justify-content: space-between;
  }
  .liste-fonction .item-fonctionnement {
    width: 29%;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .liste-restos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .liste-restos .card {
    width: 49%;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .liste-restos {
    display: flex;
    justify-content: space-between;
  }
  .liste-restos .card {
    width: 24%;
  }
}

/*Menu etabl */
.visuel-tete {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 210px;
  margin-bottom: -25px;
}
.visuel-tete img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carte-resto {
  position: relative;
  z-index: 10;
  border-radius: 30px;
  padding: 20px;
  background-color: #f6f6f6;
}
.carte-resto .filet {
  width: 50px;
  margin: 0px;
  border-bottom: solid 3px #99E2D0;
}

.enseigne-resto {
  display: flex;
  justify-content: space-between;
}
.enseigne-resto p {
  padding: 0px;
}

/*Footer */
footer {
  background-color: #282828;
  padding: 20px;
}
footer .logo-footer {
  width: 100px;
  overflow: hidden;
}
footer .logo-footer img {
  filter: invert(10);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer ul {
  list-style-position: inside;
  padding-left: 0px;
}
footer ul li {
  list-style-type: none;
  display: flex;
}
footer ul li .picto-menu-footer {
  color: #fff;
  margin-right: 10px;
}
footer ul li p {
  margin-bottom: 0px;
}
footer ul li a {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
