body {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 28px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
}

h2 {
  font-weight: 800;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.logo {
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo--header {
  width: 164px;
  height: 28px;
}
.logo--footer {
  width: 100px;
  height: 17px;
}
.logo--footer img {
  filter: invert(10);
  object-fit: cover;
}

.card {
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  margin: 15px 0px;
}
.card .image_resto {
  height: 148px;
  /*display: flex;*/
  /*
  .ribbon-resto {
      float: right;
      position: relative;
      width: 80px;
      padding-top: 3px;
      text-align: center;
      background-color: #99e2d0;
      color: #008766;
      font-weight: bold;
      top: -140px;
      right: 10px;
      margin-bottom: -20px;
  }*/
}
.card .image_resto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .image_resto .ribbon-resto {
  background-color: #99e2d0;
  position: relative;
  width: 80px;
  top: -140px;
  right: -70%;
  text-align: center;
  /*margin-left: 75%;*/
  color: #008766;
  font-weight: bold;
  /*float: right;*/
  /*z-index: 10;*/
}
.card__argu {
  width: auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.card__argu h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}
.card__argu p {
  margin: 0px;
}

.btn-supo {
  padding: 17px 0px 17px 0px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 224px;
  margin: auto;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  box-shadow: 0px 3px 5px #8f8f8f;
}
.btn-supo--bottom {
  margin: 50px auto;
}

.btn-like {
  /*padding: 10px 0px 0px 0px;*/
}
.btn-like p {
  font-size: 24px;
  text-shadow: 0px 1px 0px black, 1px 0px 0px black, -1px 0px 0px black, 0px -1px 0px black;
  color: #fff;
}

.head-page {
  position: relative;
  z-index: 10;
  height: 40px;
  justify-content: space-between;
  box-shadow: 0px 5px 5px #bbbaba;
  padding-top: 20px;
}
.head-page--ss-ombre {
  box-shadow: none;
}

.nav-head-left {
  margin-left: 20px;
}

.nav-head-right {
  margin-right: 20px;
}

.localize {
  height: 46px;
  background-color: #eaeaea;
}
.localize form {
  width: 150px;
  margin: auto;
  padding-top: 16px;
  display: flex;
}
.localize form .picto-position {
  width: 20px;
}
.localize form input {
  width: 130px;
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.reservez .reservez-titre {
  text-align: center;
  font-weight: bold;
  width: 240px;
  padding-top: 20px;
  margin: auto;
}
.reservez .reservez-argu {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

.item-fonctionnement {
  background-color: #f6f6f6;
  margin-bottom: 25px;
  margin-left: 15px;
  padding: 10px 10px;
  display: flex;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bbbaba;
}
.item-fonctionnement .chiffre {
  width: 22px;
  height: 22px;
  background-color: #9356DC;
  border-radius: 12px;
  position: relative;
  top: 13px;
  left: -20px;
}
.item-fonctionnement .chiffre p {
  margin: 0px;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}
.item-fonctionnement .text-fonctionnmt {
  display: flex;
}
.item-fonctionnement .text-fonctionnmt a {
  color: #000;
  font-weight: bold;
}
.item-fonctionnement .text-fonctionnmt i {
  color: #7e7e7e;
}
.item-fonctionnement .text-fonctionnmt .picto-fonct {
  margin-right: 20px;
}

.sections {
  background-color: #fff;
  padding: 30px 20px;
}
.sections--gris {
  background-color: #f6f6f6;
}

.visuel-tete {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 210px;
  margin-bottom: -25px;
}
.visuel-tete img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carte-resto {
  position: relative;
  z-index: 10;
  border-radius: 30px;
  padding: 20px;
  background-color: #f6f6f6;
}

.enseigne-resto {
  display: flex;
  justify-content: space-between;
}
.enseigne-resto p {
  padding: 0px;
}

.card .prix {
  padding-top: 25px;
  font-weight: bold;
}

footer {
  background-color: #282828;
  padding: 20px;
}
footer .logo-footer {
  width: 100px;
  overflow: hidden;
}
footer .logo-footer img {
  filter: invert(10);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer ul {
  list-style-position: inside;
  padding-left: 0px;
}
footer ul li {
  list-style-type: none;
  display: flex;
}
footer ul li .picto-menu-footer {
  color: #fff;
  margin-right: 10px;
}
footer ul li p {
  margin-bottom: 0px;
}
footer ul li a {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
