.btn_supo {
    background:linear-gradient($secondary-color, $primary-color);
    width:224px;
    margin: auto;
    text-align: center;
    padding: 17px 0px 17px 0px;
    border-radius: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    box-shadow: 0px 3px 5px #8f8f8f;
    a {
        color:#fff;
    }
}
.btn_like {
    padding: 16px 20px 0px 0px;
    p {
        font-size: 24px;
        text-shadow: 0px 1px 0px black, 1px 0px 0px black, -1px 0px 0px black, 0px -1px 0px black,;
        color: #fff;
        a {
            
        }
    }
}