

body {
    color: red;
    color: green;
    color: blue;
    color:black;
}



.ribbon-resto {
    /*    background-color: #99e2d0;
        position: relative;
        width: 80px;
        top: -140px;
        right: -70%;
        text-align: center; */
        /*margin-left: 75%;*/
    /*    color: #008766;
        font-weight: bold;
        /*float: right;
        z-index: 10;*/
    } 

    .ribbon-resto {
        background-color: #99e2d0;
        position: absolute;
        width: 80px;
        top: 100px;
        right: 40px;
        text-align: center;
        /*margin-left: 75%;*/
        color: #008766;
        font-weight: bold;
        float: right;
        /*z-index: 10;*/
