/* Test text-overflow 1*/
    /* Largeurs de boîtes fixes*/
    .text-overflow001 {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: antiquewhite;
        width: 300px;
        
        height: 150px;
        overflow: hidden;
        margin-bottom: 30px;
        .conteneur001 {
            max-width: 200px;
            h4 {/*display: block;*/
                
                margin-bottom: 2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            p {/*display: block;*/
                margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        .bloc-vert02 {
            background-color: green;
            width: 200px;
            height: auto;
        }
    }

    /* Test text-overflow 1*/
    /* Largeurs de boîtes fixes*/
    .text-overflow002 {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: antiquewhite;
        width: 300px;
        
        height: 150px;
        overflow: hidden;
        margin-bottom: 30px;
        .conteneur002 {
            width:auto;
            position: relative;
            h4 {/*display: block;*/
                
                margin-bottom: 2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            p {/*display: block;*/
                
                margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        .bloc-vert02 {
            
            background-color: green;
            width: 200px;
            height: auto;
        }
    }
    .text-overflow003 {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: antiquewhite;
        /*width: 300px;*/
        
        height: 150px;
        overflow: hidden;
        margin-bottom: 30px;

        .conteneur003 {
            display: flex;
            justify-content: space-between;
            max-width: 70%;
            
            .texte003 {/*display: block;*/
                /*float: left;
                max-width: 500px;*/
                /*margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;*/ 
                max-width: 80%;                
                .titre003 {/*display: block;*/
                
                    margin-bottom: 2px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .sous-titre003 {/*display: block;*/
                
                    margin-bottom: 2px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
            }   
        }
        .prix003 {
            /*float: right;*/ 
            /*position: relative;
            right: 0px;*/
            text-align: right;
            width: 20%;
            padding: 40px 10px 0px 20px;
            
        }
        
        .bloc-vert02 {
            
            background-color: green;
            width: 30%;
            
            height: auto;
        }
    }

/*
    .card {
        background-color: #fff;
        border-radius: 14px;  
        overflow: hidden;     
        margin: 15px 0px;
        
        @include ombre-boite;
        .image_resto {
            height: 148px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .ribbon-resto {
                float: right;
                position: relative;
                width: 80px;
                padding-top: 3px;
                text-align: center;
                background-color: $tertiary-color;
                color: $color4;
                font-weight: bold;
                top: -140px;
                right: 10px;
                margin-bottom: -20px;
            }
        }
        &__argu {        
            display: flex;
            justify-content: space-between;
            height: 70px;
            width:80%;
            h4 {
                font-size: 18px;
                font-weight: bold;
                margin-top: 0px;
                margin-bottom: 5px;
                
            }
            p {
                margin: 0px;
                
            }
            .texte-argu {
               width: 100%;
            
                padding: 12px; 
                
                .text-prix {
                    display: flex;
                    justify-content: space-between;                
                }   
            }        
            .card-prix {
                
                padding-top: 38px;
                margin-right: 10px;
                float: right;  
                p {
                    font-weight: bold;
                }
                         
            }
            .card-check {
                width: 80px;           
                text-align: center;
                padding-top: 20px;            
                &--selectionne {
                    padding-top: 24px;             
                    background-color: $tertiary-color; 
                    
                    width: 0px;
                    float: right;
                    p {
                        font-size: 20px;
                        color: #fff;
                        transform: rotate(0deg);
                        transition-property: transform;                    
                    }                
                    transition-property: width;
                    transition-duration: 500ms;    
                }            
            }
            &--hover:hover .card-check--selectionne {            
                width: 100px;
                p {
                    transform: rotate(360deg);
                    transition-duration: 900ms;
                    
                } 
                
                
            }
    
            &:hover {
                
                .texte-argu p {
                
                height: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
            }
            
        }
        &--anim {
            transform: translatey(50px);
            opacity: 0;
            animation-name: intro-plat;
            animation-fill-mode: forwards;
        }
        
    }
*/
    




























    .text-overflow004 {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: antiquewhite;
        /*width: 300px;*/
        
        height: 150px;
        overflow: hidden;
        margin-bottom: 30px;

        .conteneur004 {
            display: flex;
            justify-content: space-between;
            max-width: 70%;
            
            .texte004 {/*display: block;*/
                /*float: left;
                max-width: 500px;*/
                /*margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;*/ 
                max-width: 80%;                
                .titre004 {/*display: block;*/
                
                    margin-bottom: 2px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .sous-titre004 {/*display: block;*/
                
                    margin-bottom: 2px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
            }   
        }
        .prix004 {
            /*float: right;*/ 
            /*position: relative;
            right: 0px;*/
            text-align: right;
            width: 20%;
            padding: 40px 10px 0px 20px;
            
        }
        
        .bloc-vert02 {
            
            background-color: green;
            width: 30%;
            
            height: auto;
        }
        .bloc-vert04 {
            
            background-color: green;
            width: 200px;
            
            height: auto;
        }
    }
    
