/*Typography */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 16px;
}
h1 {
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
    font-weight: normal;
}
h2 {
    font-weight: 800;
}
.menu-etabl h3 {
    text-transform: uppercase;
    margin: 35px 0px 5px 0px;
}