.visuel-tete {
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 210px;
    margin-bottom: -25px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.carte-resto {
    position: relative;
    z-index: 10;
    border-radius: 30px;
    padding: 20px;
    background-color: $gris-fond2;
}
.enseigne-resto {
    display: flex;
    justify-content: space-between;
    p {
        padding: 0px;
    }
}

.card .prix {
    /*padding-top: 25px;*/
    font-weight: bold;
}
