@keyframes intro {
    0% {
        transform: scaleY(100%);
    }
    97% {
        opacity: 97%;
        transform: scaleY(100%);  
    }
    99% {
        z-index: 20;
    }
    100% {
        opacity: 0%;
        transform: scaleY(0%);
        z-index: -10;
    }
}
@keyframes anim-bille {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes anim-boule {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes intro-plat {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}