
@mixin deg-bouton {
    background: linear-gradient($secondary-color, $primary-color);
}
@mixin deg-bouton-clair($color1: $secondary-color-clair, $color2: $primary-color-clair) {
    background: linear-gradient($color1, $color2);
}



@mixin ombre-boite($color: $gris-ombre) {
    box-shadow: 0px 5px 5px $color;
}

@mixin ombre-boite-sombre($color: $gris-ombre) {
    box-shadow: 0px 5px 5px darken($color, 20%);
}

@mixin card-h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
