$primary-color: #9356DC;
$primary-color-clair: lighten($primary-color, 10%);
$secondary-color: #FF79DA;
$secondary-color-clair: lighten($secondary-color, 10%);
$tertiary-color: #99E2D0;
$color4: #008766;
$gris-fond2: #f6f6f6;
$gris-ombre: #8f8f8f;
$gris-ombre-fonce: #616161;
$larg-card-check: 80px;